* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#base {
  border: 2px solid #444;
  border-radius: 30px;
  background-color: #999;
  width: 400px;
  height: 710px;
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputscreen {
  border-radius: 10px 10px 0 0;
  background-color: #33eeff;
  width: 350px;
  height: 70px;
  margin: 35px 0 0 0;
}

#resultscreen {
  border-radius: 0 0 10px 10px;
  background-color: #33eeff;
  width: 350px;
  height: 125px;
}

#numpad {
  width: 325px;
  height: 420px;
  margin: 35px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  border: 1px solid black;
  width: 65px;
  height: 65px;
}
  #zero {
    width: 151px;
  }