* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#base {
  border: 2px solid #444;
  border-radius: 30px;
  background-color: #999;
  width: 400px;
  height: 710px;
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputscreen {
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background-color: #6ef;
  width: 335px;
  height: 40px;
  padding: 25px 15px 0 0;
  text-align: right;
  font-size: 25px;
  margin: 35px 0 0 0;
}

#resultscreen {
  border: 1px solid black;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  background-color: #3ef;
  width: 335px;
  height: 100px;
  padding: 10px 15px 0 0;
  text-align: right;
  font-size: 75px;
}

#numpad {
  width: 325px;
  height: 420px;
  margin: 35px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  user-select: none;
}

.button {
  border: 2px solid black;
  background-color: #556;
  border-radius: 5px;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 45px;
  padding: 6px 0;
  height: 53px;
}
  #zero {
    width: 151px;
  }
  .number {
    border-radius: 5px;
    background-color: #dff;
    text-align: center;
    font-size: 45px;
    padding: 6px 0;
    height: 53px;
  }
  #equal, #ac, #delete {
    border: 2px solid black;
    background-color: #556;
    border-radius: 5px;
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 45px;
    padding: 6px 0;
    height: 53px;
  }
    #ac {
      background-color: #eff;
    }